@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: auto 1fr auto; /* Three rows: header, content, footer */
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  padding: 0 1rem;
}

body {
  background-color: #1a1a1a; /* Ensure dark background is set globally */
  color: #f5f5f5;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr; /* Maintain single-column layout */
    padding: 0 2rem;
  }
}
